.skill-container {
	
	.rating-wrapper {
		background-color: lightgrey;
		min-height: 30px;
		margin-bottom: 5px;
		.rating {
			background-color: antiquewhite;
			height: 30px;
			padding: 5px 20px;
			.skill-years {
				color: brown;
				font-style: italic;
			}
		}
	}
	&:after {
		clear: both;
	}
}
